doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Pets
        a(href="/update-cobj" class="link") Add/Update this table
        .cards 
            each pets in data
                .card 
                    h3.card__name #{ 'Pet Name: ' + pets.properties.name }  
                    p.card__pet_type #{ 'Pet Type: ' + pets.properties.pet_type }
                    p.card__pet_owner #{ 'Pet Owner: ' + pets.properties.pet_owner }
