doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Pets
        .cards 
            each pets in data
                .card 
                    h2.card__name #{pets.properties.firstname}  #{pets.properties.lastname}
                    p.card__email #{pets.properties.email}
